<section id="models">
  <form method='get' action='/dredge'>
    <% models.each do |klass| %>
      <input type="radio" id="model-<%= klass %>" name="model" value="<%= klass %>">
      <label for="model-<%= klass %>"><%= klass %></label>
      <br>
    <% end %>
    <input type="submit" value="Apply">
  </form>
</section>

<section id="fields">
  <% if session[:model] %>
    <form method='get' action='/dredge'>
      <% @fields.each_pair do |name, display_name| %>
        <input type="checkbox" name="<%= name %>">
        <label for="<%= name %>"><%= display_name %></label>
        <br>
      <% end %>
      <input type="submit" value="Apply">
    </form>
  <% end %>
</section>

<section id="results">
  <% if session[:fields] %>
    <table>
      <thead>
        <% session[:fields].each do |field| %>
          <th><%= field %></th>
        <% end %>
      </thead>
      <tbody>
        <% if @results.any? %>
          <% @results.each do |result| %>
            <tr>
              <% session[:fields].each do |field| %>
                <td><%= result[field] %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr><td colspan="<%= session[:fields].size %>">No results</td></tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
