<section id="models">
  <form method='get' action='/dredge'>
    <% @models.each do |klass| %>
      <input type="radio" id="model-<%= klass %>" name="model" value="<%= klass %>">
      <label for="model-<%= klass %>"><%= klass %></label>
      <br>
    <% end %>
    <input type="submit" value="Apply">
  </form>
</section>

<section id="fields">
  <% if @selected_model %>
    <form method='get' action='/dredge'>
      <% @fields.each_pair do |name, display_name| %>
        <input type="checkbox" name="<%= name %>">
        <label for="<%= name %>"><%= display_name %></label>
        <br>
      <% end %>
      <input type="submit" value="Apply">
    </form>
  <% end %>
</section>

<section id="results">
  <table>
    <thead>
      <% @columns.each do |column| %>
        <th><%= column %></th>
      <% end %>
    </thead>
  </table>
</section>
